channels==4.3.2
Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
channels-redis==4.2.1
whitenoise==6.9.0
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
uvicorn==0.34.0
